<%= render 'shared/content_title', title: 'All Posts'%>
<p class="lead">
  <h3>Welcome! Here are all the current posts!</h3>
</p>

<% @posts.each do |post|%>
  <%= render 'post', post: post %>
<%end%>
